* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

a:hover {
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    max-width: 100%;
}

#header {
    height: 70px;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 2;
    display: inline-block;
}

#header img {
    width: 200px;
    float: left;
    margin-top: 15px;
}

#header ul {
    float: right;
}

#header::after {
    width: 80%;
    content: '';
    height: 1px;
    background: #ccc;
    content: '';
    top: 69px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

#nav,
.subnav {
    list-style: none;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 60px;
    font-size: 13px;
    font-weight: bold;
}

#nav>li,
#nav .subnav>li #nav .subnav .child-subnav>li {
    display: inline-block;
}

#nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    z-index: 2;
}

#nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 70px;
    padding: 0 24px;
}

#nav>li:hover>a {
    color: #0183F1;
}

#nav .subnav li:hover a,
#nav .subnav .child-subnav>li:hover a {
    background-color: #0183F1;
    color: #fff;
}

#nav li:hover .subnav {
    display: block;
    background-color: #fff;
    border-radius: 5px;
}

#nav:hover .subnav,
#nav:hover .subnav>li>a {
    width: 300px;
}

#nav .subnav .child-subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

#nav .subnav li {
    position: relative;
}

#nav .subnav .child-subnav {
    position: absolute;
    left: 300px;
    top: 0px;
    list-style: none;
    transition: all 0.2 ease-in-out;
}

#nav .subnav .child-subnav li a {
    width: 300px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

#nav .subnav li:hover .child-subnav {
    display: block;
    border-radius: 5px;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines,
.navbar-container,
.menu-items {
    display: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-top: 80px;
}

.container h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-align: center;
}

.container>p {
    text-align: center;
    font-size: 16px;
    color: #006e79;
    margin-bottom: 30px;
}

.col-md-6 ul {
    list-style: none;
    height: 600px;
}

.col-md-6 ul li:before {
    content: '';
    background: url(../img-glass-house/img-logo/suitcase.png);
    top: 0;
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
}

.col-md-6 ul li:nth-child(2):before {
    background: url(../img-glass-house/img-logo/worker.png);
    top: 165px;
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
}

.col-md-6 ul li:nth-child(3):before {
    background: url(../img-glass-house/img-logo/coin.png);
    top: 280px;
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
}

.col-md-6 ul li:nth-child(4):before {
    background: url(../img-glass-house/img-logo/link.png);
    top: 390px;
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
}

.col-md-6 strong {
    font-weight: bold;
}

.con-md-6 p {
    text-align: justify;
}

.col-md-6 img {
    width: 100%;
    height: auto;
    position: relative;
    left: 105%;
    top: -570px;
}

.second-content {
    height: 170px;
    background-color: #0183F1;
    background-image: linear-gradient(to right, #37a9d6, rgb(16, 112, 119));
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.second-content p {
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    display: inline;
}

.second-content p::before {
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: -37px;
    top: -9px;
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
}

.second-content p::after {
    content: "\f10e";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: -37px;
    bottom: -9px;
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
}

.second-content h3 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 20px;
}

.main-hiring {
    margin-top: -30px;
}

.col-md-3>a {
    color: #fff;
    border-radius: 4px;
    border: solid 1px #0183F1;
    background-color: #0183F1;
    padding: 10px 85px;
    margin-bottom: 30px;
}

.col-md-3 h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

.container>.row>.col-md-8 {
    width: 885px;
}

.hiring-list a {
    color: #000;
    font-weight: bold;
}

.hiring-list p {
    margin: 0;
}

.apply {
    float: right;
    margin-top: 20px;
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #0183F1;
    border-radius: 5px;
}

#footer {
    background-image: url('../img-glass-house/img-product/footer.jpg');
    height: 300px;
}

#footer h4 {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.footer-col-1 img {
    width: 350px;
    margin-bottom: 10px;
    margin-left: 23%;
}

.footer-col-1 p {
    text-align: center;
    font-size: 18px;
    color: #000;
    font-style: italic;
}

.footer-col-1 {
    margin-top: 100px;
    width: 250px;
    margin-left: -54px;
}

.footer-col-2 li,
.footer-col-2 li>a {
    font-size: 16px;
    color: #000;
}

.footer-col-2 {
    margin-left: 85px;
    margin-right: auto;
    margin-top: 37px;
}

.footer-col-2 h4 {
    margin-top: 30px;
}

.footer-col-2 ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 32px;
    line-height: 25px;
}

.footer-col-2 h4 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

li::marker {
    color: black;
}

.footer i {
    color: #000;
}

.ring {
    position: fixed;
    right: 50px;
    bottom: 10px;
}

.info-footer-mobile {
    display: none;
}

.coccoc-alo-ph-circle {
    width: 120px;
    height: 120px;
    top: 40px;
    right: 0px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 160px;
    height: 160px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(../img-glass-house/img-product/phone.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@media screen and (min-width:1240px) and (max-width:1532px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        padding: 0 10px;
        font-size: 13px;
    }
}

@media screen and (min-width:1200px) and (max-width:1240px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        padding: 0 10px;
        font-size: 13px;
    }
    .col-md-6 ul {
        padding: 0 30px;
    }
    .col-md-6 li::before {
        display: none;
    }
}

@media screen and (min-width:996px) and (max-width:1199px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        padding: 0 10px;
        font-size: 11px;
    }
    .col-md-6 ul {
        padding: 0 50px;
    }
    .col-md-6 li::before {
        display: none;
    }
    .second-content {
        margin-top: 220px;
    }
    .second-content p {
        padding: 0 30px;
    }
    .second-content p::before {
        left: 0;
    }
    .second-content p::after {
        right: 0;
    }
    .col-md-3 a {
        padding: 10px 50px;
    }
    .col-md-3 h3 {
        text-align: left;
    }
    .footer-col-1 img {
        margin-left: 40%;
    }
    .footer-col-1 p {
        margin-left: 15%;
    }
    .footer-col-2 {
        display: none;
    }
}

@media screen and (min-width:887px) and (max-width:995px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        padding: 0 5px;
        font-size: 11px;
    }
    .col-md-6 ul {
        padding: 0 50px;
    }
    .col-md-6 img {
        display: none;
    }
    .col-md-6 li::before {
        display: none;
    }
    .second-content {
        margin-top: 0;
    }
    .second-content p {
        padding: 0 30px;
    }
    .second-content p::before {
        left: 0;
    }
    .second-content p::after {
        right: 0;
    }
    .col-md-3 a {
        padding: 10px 30px;
    }
    .col-md-3 h3 {
        text-align: left;
    }
    .footer-col-1 img {
        margin-left: 40%;
    }
    .footer-col-1 p {
        margin-left: 15%;
    }
    .footer-col-2 {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:887px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        display: none;
    }
    .col-md-6 ul {
        padding: 0 50px;
    }
    .col-md-6 img {
        display: none;
    }
    .col-md-6 li::before {
        display: none;
    }
    .second-content {
        margin-top: 0;
    }
    .second-content p {
        padding: 0 30px;
    }
    .second-content p::before {
        left: 0;
    }
    .second-content p::after {
        right: 0;
    }
    .col-md-3 a {
        padding: 10px 30px;
    }
    .col-md-3 h3 {
        text-align: left;
    }
    .footer-col-1 img {
        margin-left: 40%;
    }
    .footer-col-1 p {
        margin-left: 15%;
    }
    .footer-col-2 {
        display: none;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    #header img {
        margin-top: 20px;
        width: 150px;
    }
    #nav li a {
        display: none;
    }
    .main-content>.container>p {
        text-align: justify;
        font-size: 13px;
    }
    .container h3 {
        font-size: 26px;
    }
    .col-md-6 ul {
        padding: 0 20px;
    }
    .col-md-6 img {
        display: none;
    }
    .col-md-6 li::before {
        display: none;
    }
    .second-content {
        margin-top: 210px;
    }
    .second-content p {
        padding: 0 30px;
        font-size: 16px;
    }
    .second-content p::before {
        left: 0;
    }
    .second-content p::after {
        right: 0;
    }
    .col-md-3 a {
        padding: 10px 30px;
    }
    .col-md-3 h3 {
        text-align: left;
    }
    .footer-col-1 img {
        width: 150px;
        margin-left: 100%;
    }
    .footer-col-1 p {
        width: 500px;
        margin-left: 15%;
    }
    .footer-col-2 {
        display: none;
    }
}