    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Archivo Narrow', sans-serif;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    html {
        font-size: 13px;
    }
    
    body {
        max-width: 100%;
    }
    
    body>.navbar {
        display: flex;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        height: 70px;
        max-width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #fff;
        justify-content: center;
        z-index: 3;
    }
    
    #nav {
        padding-left: 0;
    }
    
    nav {
        line-height: 60px;
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    .menu-icon {
        width: 28px;
        margin-left: 20px;
        display: none;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    p {
        color: rgb(0, 0, 0);
    }
    
    .navbar::after {
        width: 80%;
        content: '';
        height: 1px;
        background: #ccc;
        content: '';
        top: 69px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }
    
    .logo img {
        margin-bottom: 10px;
    }
    
    #nav .subnav a {
        padding: 0 12px;
        line-height: 60px;
        font-size: 13px;
        font-weight: bold;
    }
    
    #nav>li,
    #nav .subnav>li #nav .subnav .child-subnav>li {
        display: inline-block;
    }
    
    #nav>li>a {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    
    #nav li {
        position: relative;
    }
    
    #nav .subnav {
        display: none;
        position: absolute;
        box-shadow: 0 0 8px rgb(0, 0, 0);
        z-index: 2;
    }
    
    #nav li a {
        text-transform: uppercase;
        display: block;
        color: #000;
        text-decoration: none;
        padding: 0 15px;
    }
    
    #nav>li:hover>a {
        color: #0183F1;
    }
    
    #nav .subnav li:hover a,
    #nav .subnav .child-subnav>li:hover a {
        background-color: #0183F1;
        color: #fff;
    }
    
    #nav li:hover .subnav {
        text-align: left;
        display: block;
        background-color: #fff;
        border-radius: 5px;
        padding-left: 0;
    }
    
    #nav:hover .subnav,
    #nav:hover .subnav>li>a {
        width: 300px;
    }
    
    #nav .subnav .child-subnav {
        display: none;
        position: absolute;
        box-shadow: 0 0 8px rgb(0, 0, 0);
    }
    
    #nav .subnav li {
        position: relative;
    }
    
    #nav .subnav .child-subnav {
        width: 300px;
        position: absolute;
        left: 300px;
        top: 0px;
        list-style: none;
        transition: all 0.2 ease-in-out;
    }
    
    #nav .subnav .child-subnav li a {
        width: 300px;
        background-color: #fff;
        color: #000;
        font-size: 13px;
        font-weight: bold;
    }
    
    #nav .subnav li:hover .child-subnav {
        display: block;
        border-radius: 5px;
        padding-left: 0;
    }
    
    .button-cart {
        line-height: 30px;
        border-radius: 30px;
    }
    
    .title {
        display: flex;
        margin-top: 70px;
        background-image: url(../img-glass-house/img-bg-title.jpg);
        height: 275px;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        color: #fff;
        margin-bottom: 20px;
        background-size: auto;
        background-position: center;
    }
    
    .title::after {
        position: absolute;
        height: 275px;
        left: 0;
        top: 70px;
        right: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.36);
        z-index: 1;
    }
    
    .title h1 {
        font-size: 30px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        margin: 10px 0;
        z-index: 2;
    }
    
    .title a {
        font-size: 16px;
        padding: 0 10px;
        text-decoration: none;
        color: #fff;
    }
    
    .title a:hover {
        text-decoration: none;
        color: #0183F1;
    }
    
    .link {
        z-index: 2;
    }
    
    .main-address {
        position: relative;
        padding: 20px;
    }
    
    .color-gradient {
        height: 3px;
        width: 98%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    }
    
    .color-gradient-2 {
        position: absolute;
        height: 110px;
        width: 3px;
        background-position-y: -30px;
        background-size: 3px 116px;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        margin-bottom: 20px
    }
    
    .color-gradient-3 {
        position: absolute;
        top: 485px;
        height: 3px;
        width: 78%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    }
    
    .color-gradient-4 {
        position: absolute;
        top: 375px;
        right: 11.4%;
        height: 113px;
        width: 3px;
        background-position-x: -30px;
        background-size: 3px 116px;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    }
    
    #change__address {
        width: 500px;
        height: 600px;
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        background-color: #fff;
        display: none;
        z-index: 99999;
        overflow: hidden;
        position: absolute;
        left: 500px;
        top: -100px;
        padding: 10px;
    }
    
    .title__change__add {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }
    
    .info__address {
        padding: 10px 20px
    }
    
    .add__info,
    .add__arrive {
        padding-left: 20px;
        color: #0000008A;
    }
    
    .add__arrive {
        border: 1px solid #0000008A;
        width: 140px;
    }
    
    #change__address span,
    #change__address a,
    #change__address p {
        font-size: 16px;
    }
    
    .add__address {
        border: 1px solid rgba(0, 0, 0, .09);
        padding: 5px 20px;
        width: 180px;
    }
    
    .add__address a {
        font-size: 18px;
    }
    
    .address {
        float: left;
        width: 71%;
    }
    
    #over {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 999;
    }
    
    #change__address input[type=text] {
        height: 38px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        background-color: transparent;
        flex: 1;
        outline: none;
        font-size: 14px;
        min-width: 0;
        color: #222;
        border: 0;
        float: left;
        margin-bottom: 10px;
        border: 1px solid#ccc;
        border-radius: 2px;
    }
    
    .check__address {
        padding: 5px 20px;
        border: 1px solid #ccc
    }
    
    .check__address:focus-visible {
        border: 2px solid #0183F1;
    }
    
    .fill-info {
        padding-top: 30px;
    }
    
    .form__change {
        display: none;
    }
    
    .form__add__address {
        display: none;
    }
    
    #change__address input[type=text]:focus-visible {
        border: 2px solid #000;
        border-radius: 2px;
    }
    
    .button__confirm {
        position: absolute;
        bottom: 40px;
        padding-left: 30px;
    }
    
    .confirm,
    .cancel,
    .close__btn {
        padding: 5px 20px;
    }
    
    .confirm {
        background-color: #0183F1;
        border-radius: 2px;
    }
    
    .confirm:hover {
        color: #fff;
    }
    
    .cancel:hover,
    .close__btn:hover {
        background-color: #ccc;
        color: #000;
    }
    
    .product-image {
        float: left;
        width: 20%;
    }
    
    .product-details {
        float: left;
        width: 20%;
    }
    
    .product-type {
        float: left;
        width: 17%;
    }
    
    .product-price {
        float: left;
        width: 12%;
    }
    
    .product-quantity {
        float: left;
        width: 10%;
    }
    
    .product-removal {
        float: left;
        width: 9%;
    }
    
    .product-line-price {
        float: left;
        width: 12%;
        text-align: left;
    }
    /* This is used as the traditional .clearfix class */
    
    .group:before,
    .shopping-cart:before,
    .column-labels:before,
    .product:before,
    .totals-item:before,
    .group:after,
    .shopping-cart:after,
    .column-labels:after,
    .product:after,
    .totals-item:after {
        content: '';
        display: table;
    }
    
    .group:after,
    .shopping-cart:after,
    .column-labels:after,
    .product:after,
    .totals-item:after {
        clear: both;
    }
    
    .group,
    .shopping-cart,
    .column-labels,
    .product,
    .totals-item {
        zoom: 1;
    }
    /* Body/Header stuff */
    
    label {
        color: #000;
        font-weight: 800;
    }
    
    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .shopping-cart {
        margin: 0 10%;
        padding: 10px;
    }
    /* Column headers */
    
    .column-labels label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }
    /* Product entries */
    
    .product {
        margin-bottom: 20px;
    }
    
    .product .product-image {
        text-align: center;
    }
    
    .product .product-image img {
        width: 200px;
    }
    
    .product .product-details .product-title {
        margin-right: 20px;
        font-weight: 600;
    }
    
    .product .product-details .product-description {
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
    }
    
    .product-number {
        padding-left: 20px;
    }
    
    .product .product-quantity input {
        margin-top: 0px;
        width: 40px;
    }
    
    .product .remove-product {
        border: 0;
        padding: 4px 8px;
        background-color: #0183F1;
        color: #fff;
        font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
        font-size: 12px;
        border-radius: 3px;
        margin-top: 0;
    }
    
    .product .remove-product:hover {
        background-color: #a44;
    }
    /* Totals section */
    
    .totals {
        padding: 0 10px 0;
    }
    
    .totals .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .totals .totals-item label {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
    }
    
    .totals .totals-item .totals-value {
        float: right;
        width: 21%;
        text-align: right;
    }
    
    .totals .totals-item-total {
        font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    }
    
    .checkout {
        float: right;
        border: 0;
        margin: 0 0 0 15px;
        padding: 13px 36px;
        background-color: #0183F1;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
        margin-bottom: 30px;
    }
    
    #back-to-index {
        display: none;
    }
    
    .payment-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .payment-content img {
        width: 100px;
        height: 100px;
        margin: 30px 0;
    }
    
    .payment-content h1 {
        margin: 0 0 20px 0;
    }
    
    button {
        border-radius: 5px;
        border: none;
        padding: 15px 30px;
        font-size: 24px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.3s ease all;
        line-height: 1;
        display: flex;
        background-color: DodgerBlue;
        color: white;
    }
    
    button:hover {
        background: #eee;
        color: #000;
    }
    
    .countdown {
        line-height: 1;
        position: relative;
        display: block;
        overflow: hidden;
        margin-left: 6px;
        width: 33px;
        height: 24px;
    }
    
    .numbers {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        transition: 0.3s ease transform;
        text-indent: 0;
    }
    
    #footer {
        background-image: url('../img-glass-house/img-product/footer.jpg');
        height: auto;
        font-size: 16px;
    }
    
    #footer .container {
        padding-top: 30px;
    }
    
    #footer ul {
        padding: 0;
        list-style: none;
    }
    
    .footer-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    
    .col-sm-4 img {
        width: 250px;
    }
    
    .footer-title {
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    
    #footer a {
        color: #000;
    }
    
    #footer ul li {
        padding-bottom: 10px;
    }
    
    .copyright {
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #000;
    }
    
    .ring {
        position: fixed;
        left: 10px;
        bottom: 10px;
        z-index: 2;
    }
    
    .coccoc-alo-ph-circle {
        width: 120px;
        height: 120px;
        top: 40px;
        right: 0px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid rgba(30, 30, 30, 0.4);
        opacity: .1;
        -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
        -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
        -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
        -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
        animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    
    .coccoc-alo-phone {
        background-color: transparent;
        width: 160px;
        height: 160px;
        cursor: pointer;
        z-index: 200000 !important;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        -webkit-transition: visibility .5s;
        -moz-transition: visibility .5s;
        -o-transition: visibility .5s;
        transition: visibility .5s;
        right: 150px;
        top: 30px;
    }
    
    .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
        background-color: rgba(0, 175, 242, 0.5);
        opacity: .75 !important;
    }
    
    .coccoc-alo-ph-circle-fill {
        width: 100px;
        height: 100px;
        top: 50px;
        left: 50px;
        position: absolute;
        background-color: #000;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .1;
        -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
        animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    
    .coccoc-alo-ph-img-circle {
        width: 60px;
        height: 60px;
        top: 70px;
        left: 70px;
        position: absolute;
        background: rgba(30, 30, 30, 0.1) url(../img-glass-house/img-product/phone.png) no-repeat center center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .7;
        -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    }
    
    .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
        background-color: #00aff2;
    }
    
    .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
        border-color: #00aff2;
        opacity: .5;
    }
    
    .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
    .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
        border-color: #75eb50;
        opacity: .5;
    }
    
    .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
    .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
        background-color: rgba(117, 235, 80, 0.5);
        opacity: .75 !important;
    }
    
    .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
    .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
        background-color: #75eb50;
    }
    
    @-moz-keyframes coccoc-alo-circle-anim {
        0% {
            transform: rotate(0) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .1
        }
    }
    
    @-webkit-keyframes coccoc-alo-circle-anim {
        0% {
            transform: rotate(0) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .1
        }
    }
    
    @-o-keyframes coccoc-alo-circle-anim {
        0% {
            transform: rotate(0) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .1
        }
    }
    
    @keyframes coccoc-alo-circle-anim {
        0% {
            transform: rotate(0) scale(.5) skew(1deg);
            opacity: .1
        }
        30% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .5
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .1
        }
    }
    
    @-moz-keyframes coccoc-alo-circle-fill-anim {
        0% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
    }
    
    @-webkit-keyframes coccoc-alo-circle-fill-anim {
        0% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
    }
    
    @-o-keyframes coccoc-alo-circle-fill-anim {
        0% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
    }
    
    @keyframes coccoc-alo-circle-fill-anim {
        0% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg);
            opacity: .2
        }
        100% {
            transform: rotate(0) scale(.7) skew(1deg);
            opacity: .2
        }
    }
    
    @-moz-keyframes coccoc-alo-circle-img-anim {
        0% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg)
        }
    }
    
    @-webkit-keyframes coccoc-alo-circle-img-anim {
        0% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg)
        }
    }
    
    @-o-keyframes coccoc-alo-circle-img-anim {
        0% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg)
        }
    }
    
    @keyframes coccoc-alo-circle-img-anim {
        0% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        10% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        20% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        30% {
            transform: rotate(-25deg) scale(1) skew(1deg)
        }
        40% {
            transform: rotate(25deg) scale(1) skew(1deg)
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg)
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg)
        }
    }
    
    .chatbox-icon {
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 35px;
        right: 75px;
        z-index: 2;
    }
    
    .chatbox-icon img {
        width: 100%;
    }
    
    .chat {
        position: relative;
        width: 100%;
        height: calc(100% - 15px);
        max-height: 500px;
        z-index: 10;
        overflow: hidden;
        background: transparent;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    /*-------------------- Chat Title --------------------*/
    
    .chat-title {
        flex: 0 1 45px;
        position: relative;
        z-index: 2;
        width: 100%;
        border-bottom: 1px solid #ccc;
        color: #777;
        padding-top: 50px;
        padding-bottom: 5px;
        background-color: #0060AF;
        text-transform: uppercase;
        text-align: center;
    }
    
    .chat-title h1,
    .chat-title h2 {
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        margin: 0;
        padding: 0;
    }
    
    .chat-title h1 {
        font-weight: bold;
    }
    
    .chat-title h2 {
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: none;
    }
    
    .chat-title .avatar {
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 9px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 1px solid #fff;
    }
    
    .chat-title .avatar img {
        width: 100%;
        height: auto;
    }
    /*-------------------- Messages --------------------*/
    
    .messages {
        flex: 1 1 auto;
        overflow: scroll;
        position: relative;
        width: 100%;
    }
    
    .messages .messages-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 101%;
        width: 100%;
    }
    
    .messages .message {
        clear: both;
        float: left;
        padding: 6px 10px 7px;
        -webkit-border-radius: 20px 20px 20px 0;
        -moz-border-radius: 20px 20px 20px 0;
        border-radius: 20px 20px 20px 0;
        background: #eee;
        margin: 8px 0;
        font-size: 14px;
        line-height: 1.4;
        margin-left: 35px;
        position: relative;
        border: 1px solid #ccc;
    }
    
    .messages .message .timestamp {
        position: absolute;
        bottom: -15px;
        font-size: 10px;
        color: #555;
        right: 30px;
    }
    
    .messages .message .checkmark-sent-delivered {
        position: absolute;
        bottom: -15px;
        right: 10px;
        font-size: 12px;
        color: #999;
    }
    
    .messages .message .checkmark-read {
        color: blue;
        position: absolute;
        bottom: -15px;
        right: 16px;
        font-size: 12px;
    }
    
    .messages .message .avatar {
        position: absolute;
        z-index: 1;
        bottom: -15px;
        left: -35px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 2px solid rgba(255, 255, 255, 0.5);
    }
    
    .messages .message .avatar img {
        width: 100%;
        height: auto;
    }
    
    .messages .message.message-personal {
        float: right;
        text-align: right;
        background: #fff;
        border: 1px solid #ccc;
        -webkit-border-radius: 20px 20px 0 20px;
        -moz-border-radius: 20px 20px 0 20px;
        border-radius: 20px 20px 0 20px;
    }
    
    .messages .message:last-child {
        margin-bottom: 30px;
    }
    
    .messages .message.new {
        transform: scale(0);
        transform-origin: 0 0;
        animation: bounce 500ms linear both;
    }
    
    .messages .message.loading::before {
        position: relative;
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #888;
        z-index: 2;
        margin-top: 4px;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        border: none;
        animation-delay: 0.15s;
    }
    
    .messages .message.loading span {
        display: block;
        font-size: 0;
        width: 20px;
        height: 10px;
        position: relative;
    }
    
    .messages .message.loading span::before {
        position: relative;
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #888;
        z-index: 2;
        margin-top: 4px;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: -7px;
    }
    
    .messages .message.loading span::after {
        position: relative;
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #888;
        z-index: 2;
        margin-top: 4px;
        animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: 7px;
        animation-delay: 0.3s;
    }
    /*-------------------- Message Box --------------------*/
    
    .message-box {
        flex: 0 1 42px;
        width: 90%;
        background: #fff;
        margin: 2px auto;
        padding: 10px;
        position: relative;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        height: 14px;
        border: 1px solid #ccc;
    }
    
    .message-box .message-input {
        background: none;
        border: none;
        outline: none !important;
        resize: none;
        font-size: 15px;
        height: 24px;
        margin: 0;
        padding-right: 20px;
        width: 265px;
        color: #444;
    }
    
    .message-box textarea:focus:-webkit-placeholder {
        color: transparent;
    }
    
    .message-box .message-submit {
        position: absolute;
        z-index: 1;
        top: 9px;
        right: 10px;
        color: #4a90e2;
        border: none;
        background: #fff;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1;
        padding: 6px 10px;
        border-radius: 5px;
        outline: none !important;
        transition: background 0.2s ease;
        cursor: pointer;
    }
    
    .message-box .message-submit:hover {
        background: #fff;
        color: #333;
    }
    /*-------------------- Custom Srollbar --------------------*/
    
    .mCSB_scrollTools {
        margin: 1px -3px 1px 0;
        opacity: 0;
    }
    
    .mCSB_inside>.mCSB_container {
        margin-right: 0px;
        padding: 0 10px;
    }
    
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    /*-------------------- Bounce --------------------*/
    
    @keyframes bounce {
        0% {
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        4.7% {
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        9.41% {
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        14.11% {
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        18.72% {
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        24.32% {
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        29.93% {
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        35.54% {
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        41.04% {
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        52.15% {
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        63.26% {
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        85.49% {
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
        100% {
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        }
    }
    
    @keyframes ball {
        from {
            transform: translateY(0) scaleY(0.8);
        }
        to {
            transform: translateY(-10px);
        }
    }
    
    .avenue-messenger {
        opacity: 1;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        height: calc(100% - 60px) !important;
        max-height: 460px !important;
        min-height: 220px !important;
        width: 320px;
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        right: 20px;
        bottom: 20px;
        margin: auto;
        z-index: 10;
        box-shadow: 2px 10px 40px rgba(22, 20, 19, 0.4);
        -webkit-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
        -moz-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
        display: none;
    }
    
    .avenue-messenger div.agent-face {
        position: absolute;
        left: 0;
        top: -50px;
        right: 0;
        margin: auto;
        width: 101px;
        height: 50px;
        background: transparent;
        z-index: 12;
    }
    
    .avenue-messenger div {
        font-size: 14px;
        color: #232323;
    }
    
    .close {
        display: block;
        width: 100px;
        height: 100px;
        margin: 1em auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border-radius: 99em;
        opacity: 0.5;
    }
    
    .close:hover {
        opacity: 0.9;
    }
    
    .circle {
        display: block;
        width: 80px;
        height: 80px;
        margin: 1em auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border-radius: 99em;
        border: 2px solid #fff;
    }
    
    .contact-icon .circle:hover {
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        transition: 0.2s all ease-out 0.2s;
        -webkit-transition: 0.2s all ease-out 0.2s;
        -moz-transition: 0.2s all ease-out 0.2s;
    }
    
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 5px;
        margin-top: -5px;
    }
    
    .arrow_box {
        position: relative;
        background: #fff;
        border: 1px solid #4a90e2;
    }
    
    .arrow_box:after,
    .arrow_box:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .menu .items span {
        color: #111;
        z-index: 12;
        font-size: 14px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 40px;
        height: 45px;
        line-height: 40px;
        background: #fff;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 48px;
        opacity: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
    }
    
    .menu .button-close {
        font-size: 24px;
        z-index: 12;
        text-align: right;
        content: "...";
        display: block;
        width: 48px;
        line-height: 25px;
        color: #fff;
        height: 40px;
        border-top-right-radius: 20px;
        position: absolute;
        padding: 15px 15px 0 0;
        right: 0;
        padding-right: 10px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
    }
    
    .menu .button.active {
        background: #ccc;
    }
    
    .menu .items span.active {
        opacity: 1;
    }
    
    .menu .items a {
        color: #111;
        text-decoration: none;
    }
    
    .menu .items a:hover {
        color: #777;
    }
    
    @media only screen and (max-device-width: 667px),
    screen and (max-width: 450px) {
        .avenue-messenger {
            z-index: 2147483001 !important;
            width: 100% !important;
            height: 100% !important;
            max-height: none !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            background: #fff;
        }
        .avenue-messenger div.agent-face {
            top: -10px !important;
        }
        .chat {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            max-height: initial !important;
        }
        .menu .button {
            border-top-right-radius: 0;
        }
        .chat-title {
            padding: 20px 20px 15px 10px !important;
            text-align: center;
        }
        .circle {
            display: none;
        }
        .half {
            display: none;
        }
    }
    
    @media only screen and (min-device-width: 667px) {
        div.half {
            margin: auto;
            width: 80px;
            height: 40px;
            background-color: #fff;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            border-bottom: 0;
            box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
            -webkit-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
            -moz-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
        }
    }
    /* Make more adjustments for phone */
    
    @media screen and (max-width: 320px) {
        #nav {
            position: absolute;
            top: 70px;
            left: 0;
            background: #ccc;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
            overflow: auto;
            padding-left: 0;
        }
        #nav li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #nav li a {
            text-align: left;
            color: #000;
            line-height: 10px;
            padding: 5px 24px;
        }
        .menu-icon {
            display: block;
            cursor: pointer;
        }
        #nav li:hover .subnav {
            background-color: #ccc;
        }
        #nav .subnav {
            display: block;
            box-shadow: none;
            position: relative;
        }
        #nav .subnav a {
            line-height: 0;
            padding: 5px 40px;
        }
        #nav>.button-cart {
            font-size: 12px;
            width: 130px;
            margin-left: 20px;
        }
        #nav .subnav .child-subnav {
            display: block;
            position: relative;
            box-shadow: none;
            left: -3px;
        }
        #nav .subnav .child-subnav li a {
            background-color: #ccc;
            font-weight: normal;
        }
        .color-gradient {
            height: 3px;
            width: 97%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .color-gradient-2 {
            position: absolute;
            height: 168px;
            width: 3px;
            background-position-y: -30px;
            background-size: 3px 116px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
            margin-bottom: 20px
        }
        .color-gradient-3 {
            position: absolute;
            top: 555px;
            height: 3px;
            width: 91%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .color-gradient-4 {
            position: absolute;
            top: 386px;
            right: 5.4%;
            height: 172px;
            width: 3px;
            background-position-x: -30px;
            background-size: 3px 116px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .column-mobile {
            display: none;
        }
        .center-input {
            margin: 0;
        }
        .product-removal {
            float: right;
        }
        .product-description {
            width: 70%;
        }
        .product-content {
            width: 43%;
        }
        .product-number {
            float: right;
        }
        .product-line-price {
            float: right;
            width: auto;
        }
        .product .product-line-price:before {
            content: 'Tổng tiền : ';
        }
        .product-removal .remove-cart {
            margin-top: 15px;
            margin-left: -80px;
        }
        .price-cart {
            margin-top: 50px;
        }
        .totals .totals-item label {
            width: 60%;
        }
        .totals .totals-item .totals-value {
            width: 40%;
        }
        .payment-content h3 {
            font-size: 14px;
        }
        #footer {
            padding: 20px;
        }
        #footer img {
            width: 200px;
        }
        #footer>.container>.row>.col-sm-4,
        #footer>.container>.row>.col-sm-2 {
            border-bottom: 1px solid #ccc;
            flex: none;
            width: 100%;
        }
        #footer i,
        #footer ul li,
        .footer-title {
            font-size: 13px;
        }
        .footer-title {
            height: 100%;
            padding: 10px 0 0 0;
        }
        .col-sm-2 ul li {
            display: none;
        }
        .coccoc-alo-phone {
            width: 100px;
            height: 100px;
        }
        .coccoc-alo-ph-img-circle {
            width: 40px;
            height: 40px;
            background-size: 30px;
            top: 25px;
            left: 40px;
        }
        .coccoc-alo-ph-circle-fill {
            top: 0px;
            left: 15px;
            width: 90px;
            height: 90px;
        }
        .coccoc-alo-ph-circle {
            width: 100px;
            height: 100px;
            top: -5px;
            left: 10px;
        }
        .copyright {
            height: 50px;
        }
        .chatbox-icon {
            width: 60px;
            height: 60px;
            right: 25px;
            bottom: 25px
        }
    }
    /* Make adjustments for tablet */
    
    @media screen and (min-width:320px) and (max-width: 800px) {
        .logo img {
            width: 150px;
            margin-bottom: 5px;
        }
        #nav {
            position: absolute;
            top: 70px;
            left: 0;
            background: #ccc;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
            overflow: auto;
            padding-left: 0;
        }
        #nav li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #nav li a {
            text-align: left;
            color: #000;
            line-height: 10px;
            padding: 5px 24px;
        }
        .menu-icon {
            display: block;
            cursor: pointer;
        }
        #nav li:hover .subnav {
            background-color: #ccc;
        }
        #nav .subnav {
            display: block;
            box-shadow: none;
            position: relative;
        }
        #nav .subnav a {
            line-height: 0;
            padding: 5px 40px;
        }
        .button-cart {
            width: 130px;
        }
        #nav .subnav .child-subnav {
            display: block;
            position: relative;
            box-shadow: none;
            left: -3px;
        }
        #nav .subnav .child-subnav li a {
            background-color: #ccc;
            font-weight: normal;
        }
        .color-gradient {
            height: 3px;
            width: 88%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .color-gradient-2 {
            position: absolute;
            height: 155px;
            width: 3px;
            background-position-y: -30px;
            background-size: 3px 116px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
            margin-bottom: 20px
        }
        .color-gradient-3 {
            position: absolute;
            top: 540px;
            height: 3px;
            width: 85%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .color-gradient-4 {
            position: absolute;
            top: 386px;
            right: 12.4%;
            height: 157px;
            width: 3px;
            background-position-x: -30px;
            background-size: 3px 116px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
        .shopping-cart {
            margin: 0;
            padding-top: 20px;
            border-top: 1px solid #eee;
        }
        .column-labels {
            display: none;
        }
        .product-image {
            float: right;
            width: auto;
        }
        .product-image img {
            margin: 0 0 10px 10px;
        }
        .product-details {
            float: none;
            margin-bottom: 10px;
            width: auto;
        }
        .product-type {
            width: 70%;
        }
        .product-price {
            clear: both;
            width: 100px;
        }
        .product-content {
            width: 50%;
        }
        .product-quantity {
            width: 35px;
            padding: 15px 0;
        }
        .product-quantity input {
            position: absolute;
            margin-left: 20px;
            margin-top: -1px;
        }
        .product .product-line-price:before {
            content: 'Tổng tiền : ';
        }
        .product-quantity:before {
            content: 'x';
        }
        .product-removal {
            width: auto;
            margin-top: 10px;
            float: left;
            margin-left: 80px;
        }
        .product-removal .remove-cart {
            margin-left: 60px;
            margin-top: 15px
        }
        .product .price-cart {
            padding-top: 17px;
            width: 115px;
        }
        .column-mobile {
            display: none;
        }
        .center-input {
            margin: 0;
        }
        .product-number {
            float: right;
        }
        .product-line-price {
            float: right;
            width: 135px;
        }
        #footer {
            padding: 20px;
        }
        #footer img {
            width: 200px;
        }
        #footer>.container>.row>.col-sm-4,
        #footer>.container>.row>.col-sm-2 {
            border-bottom: 1px solid #ccc;
            flex: none;
            width: 100%;
        }
        #footer i,
        #footer ul li,
        .footer-title {
            font-size: 13px;
        }
        .footer-title {
            height: 100%;
            padding: 10px 0 0 0;
        }
        .col-sm-2 ul li {
            display: none;
        }
        .coccoc-alo-phone {
            width: 100px;
            height: 100px;
        }
        .coccoc-alo-ph-img-circle {
            width: 40px;
            height: 40px;
            background-size: 30px;
            top: 25px;
            left: 40px;
        }
        .coccoc-alo-ph-circle-fill {
            top: 0px;
            left: 15px;
            width: 90px;
            height: 90px;
        }
        .coccoc-alo-ph-circle {
            width: 100px;
            height: 100px;
            top: -5px;
            left: 10px;
        }
        .copyright {
            height: 50px;
        }
        .chatbox-icon {
            width: 60px;
            height: 60px;
            right: 25px;
            bottom: 25px
        }
    }
    
    @media screen and (min-width:800px) and (max-width:1024px) {
        body>.navbar {
            padding: 1%;
        }
        #nav li a {
            padding: 0;
            font-size: 11px;
        }
        .logo img {
            width: 125px;
            margin-bottom: 10px;
        }
        .product .product-image img {
            width: 150px;
            margin-left: -30px;
        }
        .product-number {
            margin-top: 15px;
            margin-bottom: 0;
        }
        .color-gradient-3 {
            position: absolute;
            top: 485px;
            height: 3px;
            width: 77%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
    }
    
    @media screen and (min-width:1024px) and (max-width:1250px) {
        body>.navbar {
            padding: 0 0% 0 3%;
        }
        #nav li a {
            padding: 0 3px;
            font-size: 13px;
        }
        .logo img {
            width: 150px;
            margin-bottom: 10px;
        }
        .color-gradient-3 {
            position: absolute;
            top: 485px;
            height: 3px;
            width: 76%;
            background-position-x: -30px;
            background-size: 116px 3px;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        }
    }
    
    @media screen and (min-width:1251px) and (max-width:1420px) {
        body>.navbar {
            padding: 0 5%;
        }
        #nav li a {
            padding: 0 10px;
            font-size: 13px;
        }
        .logo img {
            width: 200px;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (min-width:1421px) and (max-width:1615px) {
        body>.navbar {
            padding: 0 7%;
        }
        #nav li a {
            padding: 0 10px;
            font-size: 13px;
        }
        .logo img {
            width: 200px;
            margin-bottom: 10px;
        }
    }