* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

html {
    font-size: 13px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body {
    max-width: 1860px;
}

#main {
    background-color: #fff;
}

#top-header {
    height: 50px;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 1;
}

.top-hr {
    position: fixed;
    z-index: 1;
    top: 35px;
    left: 187px;
    width: 80%;
    border-top: 1px solid #262262;
}

#top-header img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

#top-header span {
    float: right;
    line-height: 50px;
}

#header {
    height: 50px;
    max-width: 1860px;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 1;
}

.cpn-name {
    font-size: 13px;
    color: #262262;
    padding-left: 0;
    font-weight: bold;
}

#nav,
.subnav {
    list-style: none;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
}

#nav>.cpn-name {
    color: #262262;
}

#nav>li,
#nav .subnav>li #nav .subnav .child-subnav>li {
    display: inline-block;
}

#nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    z-index: 2;
}

#nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
}

#nav>li:hover>a {
    color: #0183F1;
}

#nav .subnav li:hover a,
#nav .subnav .child-subnav>li:hover a {
    background-color: #0183F1;
    color: #fff;
}

#nav li:hover .subnav {
    display: block;
    background-color: #fff;
}

#nav:hover .subnav,
#nav:hover .subnav>li>a {
    width: 300px;
}

#nav .subnav .child-subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

#nav .subnav li {
    position: relative;
}

#nav .subnav .child-subnav {
    position: absolute;
    left: 300px;
    top: 10px;
    list-style: none;
    transition: all 0.2 ease-in-out;
}

#nav .subnav .child-subnav li a {
    width: 300px;
    background-color: #fff;
    color: #000;
}

#nav .subnav li:hover .child-subnav {
    display: block;
}

#project {
    margin-top: 150px;
}

.project-1 {
    width: 100%;
    display: inline-block;
    position: relative;
    background: #f6f6f6;
}

.project-content-1 {
    width: 730px;
    height: 400px;
    float: left;
    margin-left: 400px;
    margin-top: 25px;
    background-color: #fff;
}

.project-count>h1 {
    color: #3D3D3D;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 5px;
    opacity: 0.2;
    margin-left: 20px;
}

.bg-white {
    padding: 80px 70px;
}

.project-content-1 h4 {
    font-style: 18px;
    position: absolute;
    top: 32%;
    color: #212529;
}

.project-content-1 a {
    font-size: 60px;
    font-weight: 500;
    color: #313131;
    font-weight: 800px;
}

.project-content-1 ul li {
    list-style: none;
    color: #747474;
    float: left;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 50%;
}

.project-content-1 a:hover {
    color: #fd7e14;
    text-decoration: none;
}

.project-content-1 span {
    color: #3d3d3d;
}

.project-content-1 p {
    width: 590px;
    color: #747474;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    padding-right: 40px;
}

.project-img-1 {
    float: right;
    width: 30%;
    height: 615px;
    display: flex;
    position: absolute;
    right: 0;
    z-index: -1;
    right: 200px;
}

.projec-2 {
    display: inline-block;
    position: relative;
}

.project-content-2 {
    float: right;
    width: 730px;
    height: 770px;
    margin-left: 400px;
    margin-top: 145px;
    background-color: #fff;
}

.project-img-2 {
    float: left;
}

#back-to-top {
    width: 50px;
    height: 50px;
    background-color: #262262;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 55px;
    right: 20px;
    cursor: pointer;
}