* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

a:hover {
    text-decoration: none;
}

html {
    font-size: 13px;
}

body {
    max-width: 100%;
}

#header {
    height: 70px;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 2;
    display: inline-block;
}

#header a>img {
    width: 200px;
    float: left;
    margin-top: 15px;
}

#header ul {
    float: right;
}

#header::after {
    width: 80%;
    content: '';
    height: 1px;
    background: #ccc;
    content: '';
    top: 69px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

#nav,
.subnav {
    list-style: none;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 60px;
    font-size: 13px;
    font-weight: bold;
}

#nav>li,
#nav .subnav>li #nav .subnav .child-subnav>li {
    display: inline-block;
}

#nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    z-index: 2;
}

#nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 70px;
    padding: 0 24px;
}

#nav>li:hover>a {
    color: #0183F1;
}

#nav .subnav li:hover a,
#nav .subnav .child-subnav>li:hover a {
    background-color: #0183F1;
    color: #fff;
}

#nav li:hover .subnav {
    display: block;
    background-color: #fff;
    border-radius: 5px;
}

#nav:hover .subnav,
#nav:hover .subnav>li>a {
    width: 300px;
}

#nav .subnav .child-subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

#nav .subnav li {
    position: relative;
}

#nav .subnav .child-subnav {
    position: absolute;
    left: 300px;
    top: 0px;
    list-style: none;
    transition: all 0.2 ease-in-out;
}

#nav .subnav .child-subnav li a {
    width: 300px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

#nav .subnav li:hover .child-subnav {
    display: block;
    border-radius: 5px;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines,
.navbar-container,
.menu-items {
    display: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

.discount {
    position: absolute;
    background-color: rgb(241, 87, 87);
    color: #fff;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    right: 10px;
    top: 5px;
    border: 1px solid #fff;
    z-index: 1;
}

.discount-color {
    position: absolute;
    background-color: rgba(139, 139, 139, 0.712);
    width: 60px;
    height: 30px;
    border-radius: 5px;
    right: 5px;
    top: 7px;
}

.cart {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 300ms;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid #0183F1;
    outline-color: #fff;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: #0183F1;
    cursor: pointer;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #0183F1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: #000;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #000;
    margin-bottom: 1.5rem;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #000;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid #0183F1;
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: #0183F1;
}

#footer {
    background-image: url('../img-glass-house/banner_3.png');
    height: 300px;
}

#footer h4 {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.footer-col-1 img {
    width: 350px;
    margin-bottom: 10px;
    margin-left: 23%;
}

.footer-col-1 p {
    text-align: center;
    font-size: 18px;
    color: #000;
    font-style: italic;
}

.footer-col-1 {
    margin-top: 100px;
    width: 250px;
    margin-left: -54px;
}

.footer-col-2 li,
.footer-col-2 li>a {
    font-size: 16px;
    color: #000;
}

.footer-col-2 {
    margin-left: 85px;
    margin-right: auto;
    margin-top: 37px;
}

.footer-col-2 h4 {
    margin-top: 30px;
}

.footer-col-2 ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 32px;
    line-height: 25px;
}

.footer-col-2 h4 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

li::marker {
    color: black;
}

.footer i {
    color: #000;
}

.ring {
    position: fixed;
    right: 50px;
    bottom: 10px;
}

.info-footer-mobile {
    display: none;
}

.coccoc-alo-ph-circle {
    width: 120px;
    height: 120px;
    top: 40px;
    right: 0px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 160px;
    height: 160px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(../img-glass-house/img-product/phone.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}


/* Breakpoints / Making Responsive */

@media (max-width:1080px) {
    section {
        padding: 3rem 0 2rem;
    }
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width:400px) {
    .cart {
        width: 320px;
    }
}

@media(max-width:360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
    }
}