@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

html {
    font-size: 16px;
}

body {
    max-width: 1860px;
}

#main {
    background-color: #fff;
}

#contact {
    position: relative;
}

#top-header {
    height: 50px;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 1;
}

.top-hr {
    position: fixed;
    z-index: 1;
    top: 35px;
    left: 187px;
    width: 80%;
    border-top: 1px solid #262262;
}

#top-header img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

#top-header span {
    float: right;
    line-height: 50px;
}

#header {
    height: 50px;
    max-width: 1860px;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 1;
}

.cpn-name {
    font-size: 13px;
    color: #262262;
    padding-left: 0;
    font-weight: bold;
}

#nav,
.subnav {
    list-style: none;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
}

#nav>.cpn-name {
    color: #262262;
}

#nav>li,
#nav .subnav>li #nav .subnav .child-subnav>li {
    display: inline-block;
}

#nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

#nav li {
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    z-index: 2;
}

#nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
}

#nav>li:hover>a {
    color: #0183F1;
}

#nav .subnav li:hover a,
#nav .subnav .child-subnav>li:hover a {
    background-color: #0183F1;
    color: #fff;
}

#nav li:hover .subnav {
    display: block;
    background-color: #fff;
}

#nav:hover .subnav,
#nav:hover .subnav>li>a {
    width: 300px;
}

#nav .subnav .child-subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

#nav .subnav li {
    position: relative;
}

#nav .subnav .child-subnav {
    position: absolute;
    left: 300px;
    top: 10px;
    list-style: none;
    transition: all 0.2 ease-in-out;
}

#nav .subnav .child-subnav li a {
    width: 300px;
    background-color: #fff;
    color: #000;
}

#nav .subnav li:hover .child-subnav {
    display: block;
}

#contact {
    display: block;
}

.contact-info strong {
    font-size: 24px;
}

h3 {}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
}

#footer {
    background: #f8f8f8;
    color: #fff;
}

#footer a,
li,
p {
    font-size: 16px;
    color: #000;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.footer-col-2 ul {
    list-style: none;
    padding-top: 40px;
    padding-left: 65px;
    line-height: 25px;
}

.footer-col-3 ul {
    list-style: none;
    padding-top: 40px;
    padding-left: 75px;
    line-height: 30px;
}

.footer-col-1 img {
    width: 160px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.footer-col-1 p {
    margin-left: -10px;
}

.footer-col-1 {
    width: 250px;
}

.footer-col-2 h4,
.footer-col-3 h4 {
    font-size: 24px;
    text-align: center;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
}

li::marker {
    color: black;
}

.copyright {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: #000;
    display: inline-block;
}

.footer i {
    color: #000;
}

#back-to-top {
    width: 50px;
    height: 50px;
    background-color: #262262;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
}